.page-description {
  position: absolute; top: 140px;
  .block-annotation {
    max-width: 675px;
    .annotation {
      color: $color-white; font-size: 18px; line-height: 26px;
      @media (max-width: 1240px) {
          font-size: 14px; line-height: 18px;
      }
    }
    @media (max-width: 880px) {
      display: none;
    }
  }
  @media (max-width: 991px) {
    top: 100px;
  }
}
.info-block {
  display: flex; align-items: self-start; padding: 52px 0 58px;
  .title-info {
    width: 42%;
  }
  .text {
    width: 57%; font-size: 16px; line-height: 24px;
  }
  @media (max-width: 600px) {
    flex-direction: column; padding: 20px 0;
    .title-info,.text {
      width: 100%;
    }
  }
}
.block-philosophy {
  background: $color-bg-rose; border-top: 1px solid rgba($color-text, .1); padding-bottom: 39px;  margin-bottom: 14px;
  .philosophy {
    display: flex; flex-wrap: wrap; justify-content: space-between;
    .philosophy-item {
      background: $color-white; border-radius: 2px; border: 1px solid $color-border; padding: 21px 30px; width: 31.6%; margin-bottom: 60px; margin-right: 18px;
      .top {
        display: flex; align-items: center; margin-bottom: 23px; padding: 0 22px; text-transform: uppercase;
        .image {
          margin-right: 30px; width: 58px; height: 58px; border-radius: 50%; text-align: center; line-height: 58px; flex-shrink: 0; background: $color-text;
          img {
            display: inline-block;
          }
        }
      }
      .description {
        border-left: 2px solid $color-text; padding-left: 20px; font-size: 14px; line-height: 22px;
      }
      @media (max-width: 1200px) {
        width: 49%; margin-right: 0;
      }
      @media (max-width: 600px) {
        width: 100%; margin-bottom: 15px;
      }
    }
  }
  @media (max-width: 767px) {
    padding-bottom: 20px;
  }
}
.gallery-photo {
  display: flex; margin-bottom: 17px;
  .image {
    max-height: 360px; overflow: hidden; width: 50%;
    &:first-child {
      margin-right: 1px;
    }
  }
  @media (max-width: 600px) {
    flex-wrap: wrap;
    .image {
      width: 100%;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}