#map {
  height: 500px;
  @media (max-width: 600px) {
    height: 350px;
  }
}
.contact-page {
  background: $color-bg-map; padding-top: 50px; background-repeat: no-repeat; background-position: 88.3% 90.4%;
}
.contact-map {
  border: 1px solid $color-map-border; margin-bottom: 60px; border-bottom: none;
  .list-address {
    display: flex;
    .address-item {
      background: #f7f8f8; width: 33.333%; padding: 54px 58px 45px; transition: all .3s ease; transform: perspective(1px); border-bottom: 1px solid $color-map-border;
      &:not(:last-child) {
        border-right: 1px solid $color-map-border;
      }
      &:hover, &:focus, &:active {
        background: $color-white;
      }
      &.active {
        background: $color-white; border-bottom: 3px solid $color-text;
      }
      .title-address {
        font-size: 18px; font-weight: 500; text-transform: uppercase; margin-bottom: 23px;
      }
      .info-address {
        padding-left: 19px; border-left: 2px solid $color-text;
        li {
          font-size: 14px; display: flex; margin-bottom: 15px;
          span:not(.text) {
            font-weight: 500; width: 76px; flex-shrink: 0;
          }
          a {
            font-size: 14px;
          }
        }
      }
      @media (max-width: 1100px) {
        padding: 20px;
      }
      @media (max-width: 840px) {
        width: 100%;
      }
    }
    @media (max-width: 840px) {
     flex-wrap: wrap;
    }
  }
}
.feedback-form {
  padding-bottom: 70px; text-align: right; margin: 0 -.75rem;
  .wrapper {
    max-width: 1200px;
  }
  .description-form {
    text-align: left;
    .description {
      margin-bottom: 15px;
    }
    .title-form {
      text-align: left;
    }
    @media (max-width: 767px) {
      margin: 0 0 15px;
    }
  }
  .title-form {
    font-size: 25px; font-weight: 500; margin-bottom: 35px; text-align: center; line-height: 30px;
    .sub-title {
      font-size: 16px; font-weight: normal; line-height: 24px; margin-top: 16px;
    }
  }
  .row {
    margin: 0 -.75rem;
  }
  .input-field label {
    left: 0;
  }
  label {
    display: block; position: relative; height: 100%; transform: none; font-size: 14px; color: $color-text; font-weight: 500; vertical-align: middle;
    &.active:not(.label-icon) {
      transform: none;
    }
  }
  .input-field {
    position: relative; font-size: 0; margin: 0 0 20px;
    @include placeholder {
      color: rgba($color-text, .5); font-size: 14px;
    }
    input {
      display: inline-block; width: 100%; height: 49px; border-radius: 2px; border: 1px solid rgba($color-text, .3); background: $color-white; padding-left: 12px; font-size: 20px; line-height: 49px; margin: 0;
      box-sizing: border-box;
      &:focus {
        border-color: rgba($color-text, .8);
      }
    }
    .error-text {
      font-size: 12px; color: $color-red; position: absolute; bottom: -20px; left: 12px; display: none;
    }
    &.has-error {
      input {
        border-color: $color-red;
      }
      .error-text {
        display: block;
      }
    }
    &.field-message {
      label { vertical-align: top; padding-top: 16px; }
    }
    textarea {
      background: $color-white; border-radius: 2px; border: 1px solid rgba($color-text, .3); font-size: 18px; padding: 12px; height: 125px; overflow: hidden;
      @media (max-width: 776px) {
        max-width: none;
      }
    }
    @media (max-width: 776px) {
      margin: 0 0 10px;
      .error-text {
        position: static; top: 0px;
      }
    }
  }
  .upload-user-file {
    .label-file {
      display: inline-block; width: 16.6%; position: relative; height: 100%; transform: none; font-size: 14px; color: $color-text; font-weight: 500; vertical-align: top; padding-top: 16px;
      @media (max-width: 776px) {
        width: 100%;
      }
    }
    .upload-file-overlay {
      display: inline-block; max-width: 620px;
      input[type="file"] {
        display: none;
      }
      .upload-link {
        border: 1px dashed $color-text; width: 100%; max-width: 170px; padding: 15px 0; text-align: center; font-size: 14px; border-radius: 2px; font-weight: normal; cursor: pointer; position: relative;
        margin-bottom: 15px;
        &:before {
          content: '\E006'; display: block; position: absolute; left: 20px; top: 50%; transform: translateY(-50%); font-family: "Icons"; font-size: 9px;
        }
      }
      .file-upload {
        margin-bottom: 25px;
        .text {
          font-size: 12px; color: rgba($color-text, .5); line-height: 18px;
          span {
            display: block;
          }
        }
      }
    }
    .uploads {
      display: flex; flex-wrap: wrap;
      .upload-link {
        width: auto; max-width: none; padding: 15px 48px; background: #dbdee0;
        .remove {
          position: absolute; color: #909090; font-size: 10px; right: -20px; top: 50%; transform: translateY(-50%);
        }
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
  .btn-form {
    max-width: 166px;
  }
}