footer {
  background: url("../assets/images/footer-bg-1.png")no-repeat,
              $color-text url("../assets/images/footer-bg-1.png")no-repeat;
  padding: 135px 0 30px;
  @media (max-width: 767px) {
    padding: 30px 0;
  }
}
.top-footer {
  display: flex; justify-content: space-between; margin-bottom: 61px;
  @media (max-width: 767px) {
    flex-wrap: wrap; justify-content: center; margin-bottom: 30px;
  }
}
.title-footer {
    font-size: 20px; line-height: 30px; font-weight: normal; text-align: center; color: $color-white; max-width: 1120px; margin: 0 auto 12.7% auto;
  span {
    display: block; font-size: 35px; font-weight: 500; line-height: 42px; margin-bottom: 22px;
  }
  .text {
    margin-bottom: 26px;
  }
  .btn {
    max-width: 176px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
.footer-nav {
  display: flex; width: 70%;
  .nav-item {
    font-size: 14px;
    .nav-title {
      font-weight: 500; text-transform: uppercase; color: $color-white; margin-bottom: 20px;
      @media (max-width: 767px) {
        cursor: pointer; position: relative; display: inline-block; padding-right: 25px; margin-bottom: 10px;
        &:after {
          content: '\E001'; font-family: "Icons"; font-size: 14px; color: $color-white; position: absolute; top: 0; right: 0; display: block; transform: rotate(-90deg); transition: all .3s cubic-bezier(0.39, 1.13, 1, 0.89);
        }
      }
      &.rotate:after {
        transform: rotate(0);
      }
    }
    ul {
      li {
        color: $color-text-f;
        a {
          color: $color-text-f;
        }
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
      @media (max-width: 767px) {
       display: none; transition: all .3s linear;
      }
    }
    &.nav-solution {
      width: 32%; margin-right: 20px;
    }
    &.nav-service {
      width: 24.3%;
    }
    &.nav-company {
      width: 18.4%;
    }
    @media (max-width: 991px) {
      width: 50%; margin-bottom: 10px;
      &.nav-solution, &.nav-service, &.nav-company {
        width: 50%; margin-right: 0;
      }
    }
    @media (max-width: 767px) {
      width: 100%;
      &.nav-solution, &.nav-service, &.nav-company {
        width: 100%;
      }
    }
  }
  @media (max-width: 991px) {
    flex-wrap: wrap; justify-content: space-between;
  }
  @media (max-width: 767px) {
    width: 100%; flex-direction: column; order: 2;
  }
}
.footer-logo {
  a {
    max-width: 231px; display: block;
  }
  @media (max-width: 767px) {
    order: 1; margin-bottom: 20px;
  }
}
.bottom-footer {
  display: flex; justify-content: space-between; color: $color-text-f; font-size: 12px;
  .development a {
    color: $color-text-f;
  }
  @media (max-width: 600px) {
    flex-direction: column; align-items: center;
  }
}