@font-face {
	font-family: "Icons";
	src: url('fonts/Icons.eot');
	src: url('fonts/Icons.eot?#iefix') format('eot'),
		url('fonts/Icons.woff2') format('woff2'),
		url('fonts/Icons.woff') format('woff'),
		url('fonts/Icons.ttf') format('truetype'),
		url('fonts/Icons.svg#Icons') format('svg');
}

.icon:before {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow-down:before {
	content: "\E001";
}

.icon-arrow_left:before {
	content: "\E002";
}

.icon-arrow_right:before {
	content: "\E003";
}

.icon-business_analyst:before {
	content: "\E004";
}

.icon-client_centric:before {
	content: "\E005";
}

.icon-clip:before {
	content: "\E006";
}

.icon-competetive_rates:before {
	content: "\E007";
}

.icon-complete_transparency:before {
	content: "\E008";
}

.icon-crystal_clear:before {
	content: "\E009";
}

.icon-data_integration:before {
	content: "\E00A";
}

.icon-data_modeling:before {
	content: "\E00B";
}

.icon-developer_upto3:before {
	content: "\E00C";
}

.icon-exceptional_professionalism:before {
	content: "\E00D";
}

.icon-experience:before {
	content: "\E00E";
}

.icon-expertise_ondiverse:before {
	content: "\E00F";
}

.icon-extensive_industry:before {
	content: "\E010";
}

.icon-flexible1:before {
	content: "\E011";
}

.icon-flexible2:before {
	content: "\E012";
}

.icon-flexible3:before {
	content: "\E013";
}

.icon-global:before {
	content: "\E014";
}

.icon-highly_scalable:before {
	content: "\E015";
}

.icon-innovations:before {
	content: "\E016";
}

.icon-innovative_solutions:before {
	content: "\E017";
}

.icon-in_depth:before {
	content: "\E018";
}

.icon-lg:before {
	content: "\E019";
}

.icon-linkedin:before {
	content: "\E01A";
}

.icon-logowave:before {
	content: "\E01B";
}

.icon-logo_map:before {
	content: "\E01C";
}

.icon-predictive_analitycs:before {
	content: "\E01D";
}

.icon-real_time:before {
	content: "\E01E";
}

.icon-salesforce:before {
	content: "\E01F";
}

.icon-security:before {
	content: "\E020";
}

.icon-senior_developer_upto2:before {
	content: "\E021";
}

.icon-strong_project:before {
	content: "\E022";
}

.icon-sucessful:before {
	content: "\E023";
}

.icon-team_lead:before {
	content: "\E024";
}

.icon-transparent_communication:before {
	content: "\E025";
}

.icon-true_partnership:before {
	content: "\E026";
}

.icon-unity:before {
	content: "\E027";
}
