.block-enterprise {
  background: $color-bg-map; background-repeat: no-repeat; background-position: 0 100%; padding-top: 54px;  padding-bottom: 42px;
  .list-enterprise {
    display: flex; flex-wrap: wrap; justify-content: space-between;
    .enterprise-item {
      width: 32%; max-width: 490px; background: $color-white; border-radius: 2px; text-align: center; padding: 15px 0 35px; margin-bottom: 30px; transition: all .3s ease; border: 1px solid transparent;
      .image {
        display: inline-block;    margin-bottom: 14px;
      }
      .title-enterprise {
        font-size: 18px; font-weight: 500; text-transform: uppercase; padding: 0 10px;
      }
      &:hover, &:focus, &:active {
        border-color: $color-blue;
      }
      @media (max-width: 991px) {
        width: 49%; margin-bottom: 15px;
      }
      @media (max-width: 700px) {
        width: 100%;
      }
    }
    @media (max-width: 700px) {
      justify-content: center;
    }
  }
  .info-block {
    padding: 36px 0 58px;
    .title-info {
      width: 34%;
    }
    .text {
      width: 66%;
      p:last-of-type {
        margin-bottom: 33px;
      }
    }
    @media (max-width: 600px) {
      padding: 20px 0;
      .title-info {
        width: 100%;
      }
      .text {
        width: 100%;
      }
    }
  }
}
.block-expectation {
  display: flex; padding: 104px 0 109px;
  .title-expectation {
    width: 33%; font-size: 25px; line-height: 32px; font-weight: 500; margin-right: 10px; flex-shrink: 0;
  }
  .expectation {
    display: flex; width: 66%; justify-content: space-between;
    .expectation-item {
      width: 24%; padding-left: 20px; font-size: 16px; line-height: 24px; position: relative; transition: all .3s cubic-bezier(0.13, 0.12, 0.88, 0.9);
      .text {
        opacity: 0; transition: all .3s .5s cubic-bezier(0.13, 0.12, 0.88, 0.9);
      }
      .count {
        font-size: 50px; display: block; line-height: 48px; font-weight: 300; margin-top: 13px; transition: all .3s .6s cubic-bezier(0.13, 0.12, 0.88, 0.9); transform: translateY(10%); opacity: 0;
      }
      &:before {
        content: ''; display: block; width: 2px; background: $color-text; height: 0; position: absolute; top: 0; left: 0; transition: all .5s cubic-bezier(0.13, 0.12, 0.88, 0.9);
      }
      @include animation-delay(4,.4) {
        .text {
          transition-delay: inherit;
        }
        .count {
          transition-delay: inherit;
        }
        &:before {
          transition-delay: inherit;
        }
      };
    }
    @media (max-width: 1300px) {
      flex-wrap: wrap; justify-content: center;
     .expectation-item {
       width: 33.333%; margin-bottom: 10px;
     }
    }
    @media (max-width: 991px) {
      .expectation-item {
        width: 50%;
      }
    }
    @media (max-width: 460px) {
      .expectation-item {
        width: 100%;
      }
    }
  }
  &.animated {
    .expectation-item {
      .text { opacity: 1; }
      .count { transform: translateY(0); opacity: 1; }
      &:before { height: 100%; }
    }
  }
  @media (max-width: 767px) {
    flex-wrap: wrap; padding: 25px 0;
    .expectation {
      width: 100%;
    }
    .title-expectation {
      width: 100%; margin-right: 0; margin-bottom: 15px;
    }
  }
}