$color-white: #ffffff;
$color-black: #000000;
$color-blue: #4595d4;
$color-text: #3b4248;
$color-gray-bg: #f3f4fa;
$color-gray-text: #bebebe;
$color-text-f: #aeb3b7;
$color-bg-rose: #ebebf7;
$color-bg-purple: #3949ab;
$color-gray: #fafbfd;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  ::-moz-placeholder          {@content}
  :-moz-placeholder           {@content}
  :-ms-input-placeholder      {@content}
}
main {
  flex: 1;
}
.row {
  margin: 0 -15px;
}
.wrapper {
  max-width: 1560px; padding: 0 15px; margin: 0 auto;
}

/** BEGIN BTN STYLE **/
.btn {
  width: 100%; max-width: 166px; border-radius: 2px; text-align: center; text-transform: uppercase; color: $color-white; background: $color-blue; padding: 16px 0 17px;
  height: auto; line-height: normal; letter-spacing: normal; font-size: 14px; font-weight: 500; box-shadow: none;
  &.btn-white {
    background: transparent; border: 1px solid $color-white;
  }
  &:hover, &:focus, &:active {
    background: rgba($color-white, .2); box-shadow: none; color: $color-white;
  }
}
/** END BTN STYLE **/