$color-white: #ffffff;
$color-black: #000000;
$color-blue: #4595d4;
$color-text: #3b4248;
$color-gray-bg: #f3f4fa;
$color-gray-text: #bebebe;
$color-text-f: #aeb3b7;
$color-bg-rose: #ebebf7;
$color-bg-purple: #3949ab;
$color-gray: #fafbfd;
$color-border: #dfe1ea;
$color-blue-bg: #0077b5;
$color-bg-block: #f6f7fb;
$color-map-border: #d7d7d7;
$color-bg-map: #eceff1;
$color-red: #e21708;
$color-gray-title: #f2f2f2;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  ::-moz-placeholder          {@content}
  :-moz-placeholder           {@content}
  :-ms-input-placeholder      {@content}
}
@mixin image-circle($width, $height, $line-height, $border){
  width: $width; height: $height; border-radius: 50%; text-align: center; line-height: $line-height; flex-shrink: 0; background: $color-text; border: $border;
}
@mixin animation-delay ($count, $time) {
  @for $i from 2 through $count {
    &:nth-child(#{$i}) {
      transition-delay: #{($i * $time)}s;
      @content
    }
  }
}
body {
  background: $color-white; color: $color-text;
}
blockquote {
  display: block; border-left: 2px solid $color-text; padding-left: 30px; font-size: 22px; line-height: 30px; margin: 24px 0;
}
a {
  color: $color-text; transition: all .3s ease;
  &:hover, &:focus, &:active {
    color: $color-blue;
  }
}
main {
  flex: 1 0 auto;
}
sup {
  color: $color-red;
}
.slick-loading .slick-list {
  background: none;
}
.wrapper {
  max-width: 1578px; padding: 0 15px; margin: 0 auto;
}
/* BEGIN TITLE */
.title-block {
  font-size: 35px; text-align: center; color: $color-text; font-weight: 500; margin-bottom: 47px; line-height: 30px;
}
.title {
  font-size: 45px; line-height: 42px; font-weight: 500; color: $color-white; margin-bottom: 70px;
  @media (max-width: 1460px) {
    margin-bottom: 15px;
  }
  @media (max-width: 1350px) {
    font-size: 30px; line-height: 35px;
  }
}
.title-annotation {
  font-size: 35px; line-height: 45px; color: $color-white; font-weight: 500; margin-bottom: 10px;
  @media (max-width: 1460px) {
    margin-bottom: 15px;
  }
  @media (max-width: 1350px) {
    font-size: 20px; line-height: 30px;
  }
}
.title-info {
  font-size: 25px;  line-height: 30px; font-weight: 500;
  .text {
    display: inline-block; position: relative; padding-bottom: 26px;
    &:after {
      content: ''; display: block; height: 2px; width: 43px; background: $color-text; position: absolute; left: 0; bottom: 0;
    }
  }
  @media (max-width: 600px) {
    margin-bottom: 10px;
  }
}
.title-item {
  font-size: 16px; line-height: 18px; font-weight: 500;
}
.title-inner {
  font-size: 25px; font-weight: 500; text-align: center; line-height: 30px; margin-bottom: 40px;
  .sub-title {
    display: block; max-width: 1010px; font-size: 16px; line-height: 24px; margin: 8px auto 0 auto; font-weight: normal;
  }
}

/* END TITLE */
/** BEGIN BTN STYLE **/
.btn {
  width: 166px; max-width: 166px; border-radius: 2px; text-align: center; text-transform: uppercase; color: $color-white; background: $color-blue; padding: 16px 0 14px;
  height: auto; line-height: initial; letter-spacing: normal; font-size: 14px; font-weight: 500; box-shadow: none; vertical-align: baseline;
  &.btn-white {
    background: transparent; border: 1px solid $color-white;
    &:hover, &:focus, &:active {
      background: rgba($color-white, .2); box-shadow: none; color: $color-white;
    }
  }
  &.btn-blue {
    max-width: 133px; border: 1px solid $color-blue; background: transparent; color: $color-blue; font-size: 12px; padding: 13px;
    &:hover, &:focus, &:active {
      background: $color-blue; color: $color-white;
    }
  }
  &.btn-linkedin {
    background: transparent; border: 1px solid $color-white; max-width: 266px; width: 266px; position: relative; padding: 17px 25px 17px 80px; color: $color-white;
    &:before {
      content: '\E01A'; font-family: "Icons"; position: absolute; top: 50%; left: 25px; transform: translateY(-50%); font-size: 20px;
    }
    &:after {
      content: ''; width: 1px; display: block; height: 62%; background: rgba($color-white, .5); position: absolute; left: 70px; top: 50%; transform: translateY(-50%);
    }
    &:hover, &:focus, &:active {
      background: rgba($color-white, .2); box-shadow: none; color: $color-white;
    }
  }
  &:hover, &:focus, &:active {
    background: rgba($color-black, .2); box-shadow: none; color: $color-text;
  }
}
/** END BTN STYLE **/
/* BEGIN BREADCRUMBS */
.breadcrumbs {
  display: flex; font-size: 12px; margin-bottom: 70px;
  li {
    position: relative; color: $color-white;
    a, span {
      display: block; color: rgba($color-white, .6); transition: all .3s ease;
      &:hover, &:focus, &:active {
        color: $color-white;
      }
    }
    span {
      color: $color-white; transition: all .3s ease;
    }
    &:not(:last-child) {
      padding-right: 8px; margin-right: 4px;
      &:after {
        content: '-'; display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%); color: rgba($color-white, .6);
      }
    }
  }
  @media (max-width: 880px) {
    margin-bottom: 15px;
  }
}
/*END BREADCRUMBS */
.header-inner {
  .header-image {
    min-height: 647px; padding: 0 0 34%;
    @media (max-width: 880px) {
      min-height: 200px;
    }
  }
}
.header-contact {
  .header-image {
    padding: 0 0 27%;
  }
  .title {
    margin-bottom: 40px;
  }
  .breadcrumbs {
    margin-bottom: 40px;
  }
  @media (max-width: 1440px) {
    .title-annotation {
      font-size: 30px; line-height: 34px;
    }
  }
  @media (max-width: 1335px) {
    .title {
      margin-bottom: 20px;
    }
    .breadcrumbs {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 977px) {
    .block-annotation {
      display: none;
    }
  }
}
.feedback-homepage {
  background: $color-bg-block; padding: 55px 0;
  .wrapper {
    max-width: 1200px;
  }
  @media (max-width: 767px) {
    padding: 25px 0;
  }
}
.title-footer {
  font-size: 20px; line-height: 30px; font-weight: normal; text-align: center; color: $color-white; max-width: 1120px; margin: 0 auto;
  span {
    display: block; font-size: 35px; font-weight: 500; line-height: 42px; margin-bottom: 22px;
  }
  .text {
    margin-bottom: 26px;
  }
  .btn {
    max-width: 176px; position: relative;
    &:before {
      content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; height: 100%; background: rgba($color-white, .2); opacity: 0; transition: all .3s ease;
    }
    &:hover, &:focus, &:active {
      background: $color-blue; color: $color-white;
      &:before {
        opacity: 1;
      }
    }
  }
  @media (max-width: 767px) {
    margin: 0 auto 15px auto; font-size: 14px; line-height: 16px;
    span {
      font-size: 20px;
      line-height: 28px;
    }
    .text {
      margin-bottom: 18px;
    }
  }
}
.block-offer.feedback-homepage {
  background: $color-blue-bg;
}
@keyframes scale {
  80% {transform:scale(3);opacity:0;}
  100% {opacity: 0;transform:scale(1)}
}
[opacity] {
  opacity: 0.5;
}
[opacity] {
  transform-origin:center center;
  animation: scale 2s linear infinite
}